@import 'var';

@mixin displayParam($ds, $jc, $ai, $fd, $fw) {
    display: $ds;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
}

@mixin backcolor($bc) {
    background-color: $bc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}


.header {
    background: #222222;
    @include displayParam(flex, space-between, center, row, nowrap)
}

.heding {
    display: flex;
    justify-content: space-between;
    color: $colorSite;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 59px;
    padding-bottom: 60px;
    background-color: $backgroundColor;

}

.all__cards {
    @include backcolor($backgroundColor)
}


.price {
    color: $colorSite;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left_title button {
    color: $colorSite;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right_title button {
    color: #636363;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.right_title button:hover {
    color: #FFFFFF;
    background: $colorSite;
}

.btn_heding {
    border: none
}




.right_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

}


.button_info {
    display: flex;
    justify-content: center;
    border: none;
}

.btn_info {
    border: none;

}

.sort_filter {
    height: 132px;
    position: relative;
}

.filter {
    padding: 13px 13px 16px;
    width: 360px;
    position: absolute;
    top: 39px;
    box-sizing: border-box;

    &[open] .filter__heading {
        color: $colorSelect;
    }

    &[open] path {
        fill: $colorSelect;
    }

    &[open] {
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__heading {
        color: $colorText;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;
    }

    &__headingNext {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSite;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__linkBox {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px
    }

    &__item[open] .filter__headingNext {
        color: $colorSelect;
    }
}

.sort {
    display: flex;
    position: absolute;
    top: 51px;
    left: 490px;
    gap: 18px;

    &__details {
        position: relative;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        top: 22px;
        left: -9px;
        gap: 8px;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 9px;
        color: #6F6E6E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.navigate{
    display: flex;
    justify-content: center;
    gap: 10px;
    
    &__numb{
        border: none;
        
    }
}


.button_info {
    gap: 42px;
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.link_left {
    display: flex;
    width: 111px;
    gap: 41px;
    align-items: center;
    flex-wrap: nowrap;

}

.link_logo_1 {
    padding-top: 18px;
    padding-bottom: 19px;

}

.link_logo_2 {
    padding-top: 28.21px;
    padding-bottom: 20px;

}

.link_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 159px;
    padding-top: 26px;
    padding-bottom: 20px;
}

.top_content_index {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;

}




.title_top {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-top: 25px;
    padding-bottom: 16px;
}

.text_top {
    width: 314px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-bottom: 18px;
}

.content_fp_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic_women {
    width: 144.578px;
    height: 150.361px;
    flex-shrink: 0;
    padding-top: 77px;
}

.foot_part_3 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 235px;
    padding-right: 230px;
}

.foot_bottom {
    margin: 0 auto;
    align-items: center;

}

.foot_info {
    height: 341px;
    margin: auto;
    background: #222224;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.foot_info h1 {
    padding-left: 100px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    width: 360px;
    height: 133px;
    justify-content: space-between;
}

.title_foot_1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-left: 60px;
}

.text_foot_1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.foot_part_2 {
    height: 448px;
    background-image: url(./img/photo\ subscribe.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    ;
}

.content_fp_2 {
    background: rgba(244, 244, 244, 0.7);
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}


.footer__subscribe__info {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.footer__subscribe__info p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
}

.footer__subsc_subsc {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
}

.footer__subsc_subsc__text {
    text-align: center;
}

.footer__subsc_subsc__text h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.footer__subsc_subsc__text p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
}

.footer__subsc__form__btn form {
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}

.footer__subsc__form__btn input {
    width: 256px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-left: 22px;
    border: none;
}

.footer__subsc__form__btn button {
    width: 100px;
    height: 49px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: middle;
    padding-left: 15px;
    border: none;
}

.foot_part_3 {
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}